:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    view-timeline: --title block;
}

.title {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    inset: 0;
    margin: -5% auto 0;
    font-size: 10rem;
    width: fit-content;
    overflow: hidden;
    position: fixed;
    div {
        animation: title-1 auto linear forwards;
        animation-timeline: --title;
    }
    div.right {
        animation: title-2 auto linear forwards;
        animation-timeline: --title;
    }
}

// @keyframes rotate {
//     from {
//         rotate: 0;
//     }
//     to {
//         rotate: 360deg;
//     }
// }

@keyframes title-1 {
    50% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes title-2 {
    50% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(100%);
    }
}
