<div class="content">
    <h1>Căldura de reacție. <span class="hilight">Q</span></h1>
    <p>
        Căldura de reacție este cantitatea de căldura absorbită sau degajată in
        reacțiile chimice. Căldura de reacție depinde de starea de agregare a
        substanțelor participante la reacție și în ecuația termochimică se
        indică stările de agregare:<br />
        <span class="hilight">s</span>-solid<br />
        <span class="hilight">l</span>-lichid<br />
        <span class="hilight">g</span>-gaz<br />
        <span class="hilight">aq</span>-soluție<br />Dacă temperatura și
        presiunea e constantă, atunci Căldura este egală cu Entalpia

        <br /><span class="hilight"> Q ><sub>S.I.</sub> = J(Joule)</span>
    </p>
</div>
