<div class="content">
    <h1>Căldura de reacție. <span class="hilight">Q</span></h1>
    <p>
        Unitatea de măsura pentru căldura de reacție.Căldura de reacție depinde
        de starea de agregare a substanțelor participante la reacție și în
        ecuația termochimică se indică stările de agregare:
        <span class="hilight">s</span>-solid
        <span class="hilight">l</span>-lichid <span class="hilight">g</span>-gaz
        <span class="hilight">aq</span>-soluție Dacă temperatura și presiunea e
        constantă, atunci Căldura este egală cu Entalpia

        <br /><span class="hilight"> Q ><sub>S.I.</sub> = J(Joule)</span>
    </p>
</div>
