<h1 class="title">Mulțumim pentru atenție</h1>
<div class="content">
    <div class="bibliografie">
        <h1>Bibliografie</h1>
        <ol>
            <li>
                <a href="https://www.vedantu.com/chemistry/thermochemistry"
                    >Thermochemistry - Explanation, Types, Enthalpy of Reaction
                    and Laws</a
                >
            </li>
            <li>
                <a
                    href="https://openstax.org/books/chemistry-2e/pages/5-3-enthalpy"
                    >5.3 Enthalpy - Chemistry 2e</a
                >
            </li>
            <li>
                <a
                    href="https://cognitivsystem.files.wordpress.com/2013/03/lectia11.pdf"
                    >lectia11.pdf</a
                >
            </li>
            <li>
                <a href="https://ro.alegsaonline.com/art/99300">Termochimie</a>
            </li>
            <li>
                <a href="https://byjus.com/chemistry/thermochemistry/"
                    >Thermochemistry | Calorimetry | Formulas & Examples |
                    Chemistry | Byju's</a
                >
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=ZVhJ4TO8a-M"
                    >Thermochemistry: Heat and Enthalpy</a
                >
            </li>
        </ol>
    </div>
    <div>
        <h1>Autori</h1>
        <ul>
            <li>Hogea Vlad</li>
            <li>Sichim Petru</li>
            <li>Antoci Robert</li>
            <li>Bulgărescu Vlad</li>
            <li matTooltip="Motricală Alin-Gabriel">M.A.G.</li>
        </ul>
    </div>
</div>
<div class="wrapper">
    <img
        src="https://media1.giphy.com/media/ui1hpJSyBDWlG/giphy.gif?cid=ecf05e47pchou1xe3medvs83sd6fawley9wt9roor3cxktlm&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    />
    <img
        src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExejBsYmZ3bGN5YWRoMGtiY2Z4amRvdHc0dnRobThidWFuYzJwcnlibCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fUZHXuE94BN2wtSbUS/giphy.gif"
    />
    <img
        src="https://media1.giphy.com/media/xd0m3eTvx4ACpEyopl/giphy.gif?cid=ecf05e47ezftogv769kwaelvntb119807elx47fe2w9am0yu&ep=v1_gifs_search&rid=giphy.gif&ct=g"
        alt=""
    />
</div>
