<div class="laws">
    <h1>Legile Termochimiei</h1>
    <div class="wrapper">
        <div class="lavoisier">
            <h2 class="hilight">Lavoisier și legea lui Laplace</h2>
            <p>
                Schimbarea de energie pentru orice transformare este egală și
                opusă schimbării de energie pentru procesul invers
            </p>
            <div class="formula">
                C(s) + O2(g)→CO2 <span class="hilight">ΔH=-393 kJ</span>
            </div>
            <div class="formula">
                CO2(g)→C(s) + O2(g) <span class="hilight">ΔH= +393 KJ</span>
            </div>
        </div>
        <div class="hess">
            <h2>Legea lui <span class="hilight">Hess</span></h2>
            <p>
                Schimbarea de energie pentru orice transformare este aceeași,
                indiferent dacă are loc într-o singură etapă sau în mai multe
            </p>
        </div>
    </div>
</div>
