<div class="types">
    <h1>Tipuri de reacții chimice</h1>
    <div class="types--title">termice</div>
    <p class="types-1">
        Reacții în care căldura este <span class="hilight">absorbită</span> din
        sistem. Modificarea entalpiei pentru această reacție este pozitivă.
    </p>
    <p class="types-2">
        Reacția în care se <span class="hilight">degajă</span> căldura sau
        energia în timpul reacției. Modificarea entalpiei pentru reacțiile
        exoterme este negativă.
    </p>
    <div class="types--formula">ΔH <span class="arrow"><</span> 0</div>
</div>
