<div class="def-sys">
    Reacțiile au loc într-o secțiunea specifică a universului numită sistem. Tot
    ceea ce se află în afara sistemului este considerat mediul înconjurător sau
    mediu.
</div>
<div class="system">
    <h1>Sistem</h1>
    <div class="def">
        <p class="open">
            Un sistem <span class="hilight">deschis</span> poate schimba atât
            energie cât și materie cu mediul înconjurător.
        </p>
        <p class="closed">
            Sistemul <span class="hilight">închis</span> poate schimba doar
            energie cu mediul înconjurător, nu și materie.
        </p>
        <p class="isolated">
            Un sistem <span class="hilight">izolat</span> nu poate face schimb
            de materie sau energie cu mediul înconjurător.
        </p>
    </div>
</div>
