:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300vh;
    width: 100vw;
    view-timeline: --system block;
}

.def-sys {
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    line-height: 1.6;
    position: fixed;
    animation: def-sys auto linear forwards;
    animation-timeline: --system;
    h1 {
        font-size: 4rem;
        line-height: 0;
    }
    p {
        font-size: 2rem;
        width: 70%;
        line-height: 1.6;
    }
}

.system {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 25%;
    height: 16rem;
    width: 40rem;
    padding: 3rem 3rem;
    text-align: center;
    animation: frame auto linear forwards;
    animation-timeline: --system;
    border-radius: 2rem;
    h1 {
        font-size: 4rem;
        line-height: 0;
        animation: title auto linear forwards;
        animation-timeline: --system;
        opacity: 0;
        &::after {
            content: " Deschis";
            animation: title-content auto linear forwards;
            animation-timeline: --system;
        }
    }
    .def {
        position: relative;
        width: 100%;
    }
    p {
        position: absolute;
        font-size: 2rem;
        line-height: 1.6;
    }
    .open {
        opacity: 0;
        animation: open auto linear forwards;
        animation-timeline: --system;
    }
    .closed {
        opacity: 0;
        animation: closed auto linear forwards;
        animation-timeline: --system;
    }
    .isolated {
        opacity: 0;
        color: #000;
        animation: isolated auto linear forwards;
        animation-timeline: --system;
    }
}

@keyframes frame {
    0% {
        border: 5px solid transparent;
    }
    30% {
        border: 5px solid transparent;
    }
    33% {
        border: 5px solid #fff;
    }
    63% {
        border: 5px solid #fff;
        background-color: transparent;
    }
    66% {
        background-color: #fff;
        border: 5px solid #fff;
    }
    96% {
        background-color: #fff;
        border: 5px solid #fff;
        scale: 1;
    }
    99% {
        background-color: #fff;
        scale: 3;
        border: 5px solid #fff;
    }
}

@keyframes isolated {
    0% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    66% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    69% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    90% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    93% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
}

@keyframes closed {
    0% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    33% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    35% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    63% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    66% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
}

@keyframes open {
    7% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    12% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    17% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    30% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    33% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
}

@keyframes title {
    5% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    10% {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    15% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    63% {
        color: #fff;
    }
    66% {
        color: #000;
    }
    90% {
        transform: translate3d(0, 0, 0);
        color: #000;
        opacity: 1;
    }
    95% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, -50px, 0);
        opacity: 0;
    }
}

@keyframes title-content {
    0% {
        content: " Deschis";
    }
    30% {
        content: " Deschis";
    }
    33% {
        content: " Închis";
    }
    63% {
        content: " Închis";
    }
    66% {
        content: " Izolat";
    }
    100% {
        content: " Izolat";
    }
}

@keyframes def-sys {
    0% {
        top: -20rem;
    }
    10% {
        top: 4rem;
    }
    15% {
        opacity: 100%;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
